PORT=3005
NODE_ENV=development
MONGODB_URI=mongodb://bet_user:service123@localhost:27017/betting_bets?authSource=betting_bets
MAIN_SERVICE_URL=http://localhost:3001
WALLET_SERVICE_URL=http://localhost:3004
ODDS_SERVICE_URL=http://localhost:3003
FIXTURES_SERVICE_URL=http://localhost:3002
JWT_SECRET=your_jwt_secret_here 