PORT=3002
API_FOOTBALL_KEY=d1fff77d6c19949eaf408cb4e58ad24c
API_FOOTBALL_HOST=v3.football.api-sports.io
RAPIDAPI_HOST=api-football-v1.p.rapidapi.com
RAPIDAPI_KEY=your-rapidapi-key
CACHE_TTL=300
NODE_ENV=development 